* {
    font-family: "Poppins", sans-serif;
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("/img/interbat.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.kotakp3k {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("/img/banner.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 60vh;
}

.info-panel {
    background-color: #4c0fdc;
}

.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
        url("img/interbat.jpg");
}

.hero h1 {
    --animate-delay: 0.7s;
}

.hero p {
    --animate-delay: 1.2s;
}

.hero button {
    --animate-delay: 1.7s;
}

.about .row .col:nth-child(1) {
    background-color: aquamarine;
}

.navbar.scrolling-active {
    background-color: rgb(25, 25, 239);
    padding: 15px 0 15px 0;
}

.navbar {
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}

.navbar i {
    color: white;
}

.navbar a {
    color: white;
}

.navbar i:hover {
    color: crimson;
    cursor: pointer;
    border-bottom: 3px solid #4c0fdc;
}

.navbar a:hover {
    color: white;
}

.projects {
    padding: 100px 0 100px 0;
}

.projects img {
    height: 250px;
}

.services img {
    height: 350px;
}

.services h5 {
    line-height: 1.8;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.services i {
    color: green;
    font-size: 30;
}

.faq {
    padding-top: 100px;
}

.faq img {
    height: 250px;
}

/* .faq .accordion{
    --bs-accordion-bg:#e9ed;
}

.faq .accordion .accordion-button:focus{
    box-shadow: none;
} */

.footer {
    min-height: 60vh;
    background-color: rgb(45, 44, 44);
    margin-top: 150px;
}

.footer .copyright {
    padding-top: 60px;
}

@media screen and(max-width: 1200px) {
    .services img {
        width: 220px;
    }
}

@media screen and(max-width: 475px) {
    .services h5 {
        font-size: 16px;
    }
}

@media screen and(min-width: 992px) {
    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }
}

/* CSS SLIDER */

a {
    text-decoration: none;
}

.p-slider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
    width: 95%;
}

.product-slider-heading {
    font-size: 28px;
    text-transform: uppercase;
    color: #313131;
    text-align: center;
    margin: 0px;
}

.product-box {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    box-shadow: 31px 47px 75px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    border: 0.5px solid gray;
    margin: 0px 20px;
}
.product-box2 {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    box-shadow: 31px 47px 75px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0px 20px;
}

.p-img-container {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.p-img a,
.p-img {
    width: 100%;
    height: 100%;
    display: flex;
}

.p-img a img {
    width: 100%;
    height: 100%;
    object-position: center;
    object-fit: contain;
    animation: fade 0.6s;
}

.p-img-back {
    display: none;
}

.p-img-container:hover .p-img-back {
    display: block;
}

.p-img-container:hover .p-img-front {
    display: none;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.p-box-text {
    margin-top: 5px;
    /* width: 100px; */
}

.news-category {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.news-category span {
    color: #acacac;
    font-size: 0.9rem;
    margin: 5px 0px;
}

.news-title {
    color: #333333;
    font-weight: 600;
    text-decoration: none;
}

.news-title:hover {
    color: #111111;
    opacity: 0.7;
    transition: all ease 0.3s;
}

.more {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 8px;
}

.more .p-more {
    color: #4c0fdc;
    margin: 0px 5 px;
    font-weight: 600;
}

.more .p-more:hover {
    text-decoration: underline;
}

.slider-btns {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin: 30px auto 10px auto;
    padding: 0px 10px;
}

.slider-btns button {
    position: static !important;
    transform: translate(0, 0);
    background-color: #f3f3f3;
    width: 80px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    border: 1px solid #cfcfcf;
    border-radius: 4px;
}

.slider-btns button span {
    font-weight: bold;
    padding: 10px 15px 10px 10px;
    position: relative;
    text-decoration: none;
}

.slider-btns button span::before,
.slider-btns button span::after {
    border-right: 2px solid;
    display: block;
    height: 8px;
    margin-top: -6px;
    position: absolute;
    transform: rotate(135deg);
    right: 10px;
    top: 50%;
    width: 0;
    content: "";
}

.slider-btns button span::after {
    margin-top: -1px;
    transform: rotate(45deg);
}

.slider-btns .glider-prev span {
    transform: rotate(180deg);
}

@media (max-width: 500px) {
    .product-box {
        margin: 0px 10px;
    }
    .p-slider {
        width: 100%;
    }
    .product-slider-heading {
        text-align: center;
        font-size: 1.3rem;
        display: flex;
    }
    .p-img a,
    .p-img {
        height: 200px;
    }
}
